<?xml version="1.0"?>
<configuration>
  <appSettings>
    <add key="TypeConnect" value="ConnectionStringMSSQL" />
    <add key="Modules" value="" />
    <add key="NewVersionServer" value="" />
    <add key="EnableDiagnosticActions" value="False" />
    <!--
    Use the one of predefined values: None, ApplicationFolder, CurrentUserApplicationDataFolder. The default value is ApplicationFolder.
    <add key="TraceLogLocation" value="CurrentUserApplicationDataFolder"/>
    <add key="UserModelDiffsLocation" value="CurrentUserApplicationDataFolder"/>
    <add key="Languages" value="de;es;ja;ru"/>
    -->
  </appSettings>
  <connectionStrings>
    <add name="ConnectionStringMSSQL" connectionString="XpoProvider=MSSqlServer;Data Source=103.195.240.20;User ID=sa;Password=qLqsD7wVi/bEr/bvFQY0vVGLPyYBjvSrCFOlv8m8baRJLFjYZcTbrKjEuaNJ+eg5BHs1pJA1QyzqAJVGRRK3ke4NKQRFBh4rt57iGTaZ4hN4IY6Dq89oA5no8B1iajrd;Initial Catalog=VietRau_v2;Persist Security Info=true" />
    <add name="ConnectionStringMySQL" connectionString="XpoProvider=MySql;Server=103.195.240.44;User ID=vietrau_user;Password=6o3f8S4CnhowE/rRIIrU17AGCI91hfUwOm6Au2NMjvFJaRkXkKkO7hGGy5raybdgeqYT1lRYKnso0XF+Uv0dCWQpsDKRReItUOmmYn9PF0zcDiIFQ8SX09c5W6ArXQ2Q;Database=vietrau5;Persist Security Info= true;Charset=utf8" />
  </connectionStrings>
  <system.diagnostics>
    <switches>
      <!-- Use the one of predefined values: 0-Off, 1-Errors, 2-Warnings, 3-Info, 4-Verbose. The default value is 3. -->
      <add name="eXpressAppFramework" value="3" />
      <!--
      <add name="XPO" value="3" />
      -->
    </switches>
  </system.diagnostics>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0" />
  </startup>
</configuration>